:root {
  --x-020035: rgba(2, 0, 53, 1);
  --colorswhite: rgba(255, 255, 255, 1);
  --colors-grey: rgba(235, 234, 237, 1);
  --actionsecondary: rgba(29, 93, 236, 1);
  --backgrounddark: rgba(2, 0, 53, 1);
  --dark-gray: rgba(104, 106, 113, 1);
  --mercury: rgba(183, 184, 185, 1);
  --actionprimary: rgba(255, 230, 1, 1);
  --buttons-middle-font-family: "OpenSans-SemiBold", Helvetica;
  --buttons-middle-font-weight: 600;
  --buttons-middle-font-size: 18px;
  --buttons-middle-letter-spacing: 0px;
  --buttons-middle-line-height: 26px;
  --buttons-middle-font-style: normal;
  --heading-h2-header-font-family: "OpenSans-Light", Helvetica;
  --heading-h2-header-font-weight: 300;
  --heading-h2-header-font-size: 72px;
  --heading-h2-header-letter-spacing: -1px;
  --heading-h2-header-line-height: 70px;
  --heading-h2-header-font-style: normal;
  --heading-h5-lead-font-family: "OpenSans-SemiBold", Helvetica;
  --heading-h5-lead-font-weight: 600;
  --heading-h5-lead-font-size: 22px;
  --heading-h5-lead-letter-spacing: 0px;
  --heading-h5-lead-line-height: 32px;
  --heading-h5-lead-font-style: normal;
  --heading-h3-title-font-family: "OpenSans-Light", Helvetica;
  --heading-h3-title-font-weight: 300;
  --heading-h3-title-font-size: 48px;
  --heading-h3-title-letter-spacing: -0.4000000059604645px;
  --heading-h3-title-line-height: 52px;
  --heading-h3-title-font-style: normal;
  --buttons-big-font-family: "OpenSans-Bold", Helvetica;
  --buttons-big-font-weight: 700;
  --buttons-big-font-size: 20px;
  --buttons-big-letter-spacing: 0px;
  --buttons-big-line-height: 26px;
  --buttons-big-font-style: normal;
  --text-label-font-family: "DMSans-Bold", Helvetica;
  --text-label-font-weight: 700;
  --text-label-font-size: 14px;
  --text-label-letter-spacing: 2px;
  --text-label-line-height: 26px;
  --text-label-font-style: normal;
  --text-paragraph-font-family: "DMSans-Regular", Helvetica;
  --text-paragraph-font-weight: 400;
  --text-paragraph-font-size: 16px;
  --text-paragraph-letter-spacing: 0px;
  --text-paragraph-line-height: 26px;
  --text-paragraph-font-style: normal;
  --buttons-small-font-family: "OpenSans-Bold", Helvetica;
  --buttons-small-font-weight: 700;
  --buttons-small-font-size: 16px;
  --buttons-small-letter-spacing: 0px;
  --buttons-small-line-height: 22px;
  --buttons-small-font-style: normal;
  --text-article-font-family: "OpenSans-SemiBold", Helvetica;
  --text-article-font-weight: 600;
  --text-article-font-size: 18px;
  --text-article-letter-spacing: 0px;
  --text-article-line-height: 28px;
  --text-article-font-style: normal;
}
